

body{
    margin: 0;
    background-color: #0D131A;
    font-family: 'Poppins', sans-serif;}

.nav{
    background-color: #0D131A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: 10px;
  
}

.nav ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 1rem ;
}
.nav li:hover{
background-color: #2B3947;
cursor: pointer;
}

.nav li {
    padding: 4px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.btn{
    padding: 10px;
    font-size: 10px;
    border-radius: 20px ;
    cursor: pointer;
    border: 1px solid #00C289;
    background-color: #0D131A;
    color: #FFFFFF;
    margin-right: 12px;
    margin:8px;
}


.material-symbols-rounded{
    margin-right: 5px;
    color: #353F48;
    font-size: 14px;
 
  
}

.barchart{
    margin-left: -15px;
}

