#id{
    display: flex;
}

.wrapper{
    position: absolute;
    display: flex;
}

.graph{
    position: relative;
    top: -20px;
}
.top{
    
    color: #ffff;

 
}
.middle{
    position: relative;
    top: -40px;
    color: #06A277;
 
}
.last{
    position: relative;
    top: -150px;
    color: #8F66FF;
}
.sum{
    display: flex;
    flex-direction: column;
}