
img{
    max-width: 100%;
    max-height: 100%;

}

.WalletCard{
    margin-top: 50px;
    color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}
AppLogo{
    width: 100px;
    height: 100px;
}

.Address{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.Amount{
    margin: 5px;
}
.btn3{
margin: 5px;
}